/age2.class
/Calculator.class
/Evenodd3.class
/hellonamaste5.class
/lessmore4.class
/patternbutterfly.class
/patternnum1.class
/patternnum2.class
/patternnum3.class
/patternnum4.class
/primenumber7.class
/star1.class
/star2.class
/star3.class
/star4.class
/star5.class
/sum.class
/sumNatural6.class
/Table.class